/* CSS Resets */
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

/* Page styling */
body {
    margin: auto;
    width: 100%;
    height: auto;
    padding: 1em;
    background-image: url("images/studioBG1.png");
    background-size: cover;
    background-position:center center;
    background-repeat: repeat;
}

body.switch {
    background-color: rgb(235, 235, 235);
    color: #333;
}

#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    /* make sure the columns don't get too small and text stays readable */
    margin: 0 auto;
    padding-top: 1em;
}

#nav-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;

    justify-content: center;
    justify-items: center;
}

header {
    margin: 0 auto 2em auto;
}

header, footer {
    top: 0;
    text-align: center;
    padding: 25px;
    margin: auto;
    position: relative;
}

#banner {

    padding: 20px;
    width: auto;
    height: auto;
    position: absolute;

    position: relative; 
    width: 100%;
    height: 25%;

    background-image: url("images/studioBGPure2.png");

    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;

    align-items: center;
	place-items: center;

    transition: all 2s;
}

#banner.switch {
    background-image: url("images/studioBGPure1.png");
    
    color: rgb(235, 235, 235);
}

main {
    display: block;
    justify-content: center;
    margin: 1em auto;
}

#projects {
        background-image: url("images/cardSpade2.png");
        background-size: contain;
        background-position:center;
        background-repeat: no-repeat;
}

#research {
        background-image: url("images/cardQ.png");
        background-size: contain;
        background-position:center;
        background-repeat: no-repeat;
}

#development {
        background-image: url("images/cardClub2.png");
        background-size: contain;
        background-position:center;
        background-repeat: no-repeat;
}

#capstone {
        background-image: url("images/card6.png");
        background-size: contain;
        background-position:center;
        background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

nav ol, nav ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    aspect-ratio: 2/3;
    width: 100%;
    max-width: 300px;

    /*border: 2px rgb(0, 0, 0) dashed;*/
    border-radius: 15px;

    position: relative;
    transition: all 1s;
}

h1, h2, h3 {
    font-family: "Rubik 80s Fade", system-ui;;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: "Rubik 80s Fade", system-ui;;
    font-weight: 300;
    font-style: normal;
}

h3 {
    font-family: "Rubik 80s Fade", system-ui;;
    font-weight: 200;
    font-style: normal;
}

section a {
    line-height: 1.1em;
    display: inline-block;
    padding: .5em;
    color: orange;
    border-radius: 50%;

    transition: all 1s;
    transition: border-radius 0.25s ease;
}

section a:hover {
    background-color: orange;
    color: #333;
    border-radius: 0%;

    transition: all 0.25s;
    transition: border-radius 0.25s ease;
}

section.switch h3 {
    color: #bcbcbc;
}

section.switch a {
    color: #57a2ff;
    transition: all 1s;
}

section.switch a:hover {
    background-color: #333;
    color: rgb(235, 235, 235);
    transition: all 0.25s;
}

button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 12px;
    background-image: url("images/coinBlue.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;

    border: none;
    width: 150px;
    height: 150px;
}

button:hover {
    background-image: url("images/coinPink.png");
    cursor: pointer;
}

button.switch {
    background-image: url("images/coinPink.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

button.switch:hover {
    background-image: url("images/coinBlue.png");
    cursor: pointer;
}

body.switch {
    background-image: url("images/studioBG2.png");
    transition: all 1s;

}

#projects.switch {
    background-image: url("images/card1.png");
    transition: all 1s;
}

#research.switch {
    background-image: url("images/card5.png");
    transition: all 1s;
}

#development.switch {
    background-image: url("images/card7.png");
    transition: all 1s;
}

#capstone.switch {
    background-image: url("images/card8.png");
    transition: all 1s;
}

@media only screen and (min-width: 1000px) {

    h1 {
        font-size: clamp(1rem, 3rem, 5rem);
    }

    h2 {
        font-size: clamp(0.75rem, 1.5rem, 2.25rem);
    }

    h3 {
        margin-top: 6vh;
        margin-bottom: 0;
        font-size: clamp(0.1rem, 1rem, 2rem);
    }

    .toolKit {
        margin-top: 6vh
    }

    section nav {
        margin-top: -5px;

    }

    section nav a {
        font-size: clamp(0.25rem, 0.75rem, 1.75rem);
    }
}

@media only screen and (max-width: 1000px) {
    h1 {
        font-size: clamp(1rem, 2.75rem, 5rem);
    }

    h2 {
        font-size: clamp(0.75rem, 1.25rem, 2.25rem);
    }

    h3 {
        margin-top: 3vh;
        font-size: clamp(0.25rem, 0.8rem, 2rem);
    }

    .toolKit {
        margin-top: 3vh
    }

    section nav {
        margin-top: -20px;
        margin-bottom: -20px;
    }

    section nav a {
        font-size: clamp(0.1rem, 0.65rem, 1.75rem);
    }
}