/* CSS Resets */
* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

/* Page styling */
body {
    margin: auto;
    padding: 0;
    background-image: url("images/studioBG1.png");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
}

body.switch {
    background-color: rgb(235, 235, 235);
    color: #333;
}

#container {
    position: relative;
    width: 100%;
    max-width: 1366px;
    /* make sure the columns don't get too small and text stays readable */
    margin: 0 auto;
    padding-top: 1em;
}

#nav-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;

    justify-content: center;
    justify-items: center;
}

header {
    margin: 0 auto 2em auto;
}

header, body {
    text-align: center;
}

#banner {
    position: relative; 
    margin: auto;
    
    background-image: url("images/studioBG1.png");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;

    align-items: center;
	place-items: center;
}

#banner.switch {
    background-image: url("images/studioBG2.png");
    color: rgb(235, 235, 235);
    transition: all 2s;
}

main {
    display: block;
    justify-content: center;
    margin: 1em auto;
}

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    aspect-ratio: 2/3;
    width: 100%;
    max-width: 300px;

    border: 2px rgb(0, 0, 0) dashed;
    border-radius: 15px;
    padding: 1em;

    position: relative;
}

#projects {
        background-image: url("images/cardSpade2.png");
        background-size: cover;
        background-position:center;
        background-repeat: no-repeat;
}

#research {
        background-image: url("images/cardQ.png");
        background-size: cover;
        background-position:center;
        background-repeat: no-repeat;
}

#development {
        background-image: url("images/cardClub2.png");
        background-size: cover;
        background-position:center;
        background-repeat: no-repeat;
}

#capstone {
        background-image: url("images/card6.png");
        background-size: cover;
        background-position:center;
        background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

nav ol, nav ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

section {
    margin-top: 1em;
}

section a {
    line-height: 1.1em;
    display: inline-block;
    padding: .5em;
    color: orange;
}

section a:hover {
    background-color: orange;
    color: #333;
}

section.switch a {
    color: #333;
}

section.switch a:hover {
    background-color: #333;
    color: rgb(235, 235, 235);
}

button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 12px;
    background-color: orange;
    color: #333;
    border: 1px solid transparent;
}

button:hover {
    background-color: coral;
    cursor: pointer;
}

button.switch {
    background-color: rgb(235, 235, 235);
    border-color: #333;
}

button.switch:hover {
    background-color: #333;
    color: rgb(235, 235, 235)
}

body.switch {
    background-image: url("images/studioBG2.png");
}

#projects.switch {
    background-image: url("images/card1.png");
}

#research.switch {
    background-image: url("images/card5.png");
}

#development.switch {
    background-image: url("images/card7.png");
}

#capstone.switch {
    background-image: url("images/card8.png");
}

@media only screen and (min-width: 600px) {

    h1, h2, h3 {
        font-family: "Rubik 80s Fade", system-ui;;
        font-weight: 400;
        font-style: normal;
    }

    h2 {
        font-family: "Rubik 80s Fade", system-ui;;
        font-weight: 300;
        font-style: normal;
    }

    h3 {
        font-family: "Rubik 80s Fade", system-ui;;
        font-weight: 200;
        font-style: normal;
    }
}