#myVideo {
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0%;
    min-width: 100%;
    min-height: 100%;
}

.fa-expand-arrows-alt {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    color: orange;
}

.fa-expand-arrows-alt:hover {
    cursor: pointer;
}

section {
    position: relative;
}

p {
    padding: 20px;
    position: absolute;
    top: 20%;
    filter: drop-shadow(10px 10px 10px red);
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.hidden {
    opacity: 0;
}

.showing {
    opacity: 1;
}