#myVideo {
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0%;
    min-width: 100%;
    min-height: 100%;
}

.fa-expand-arrows-alt {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 36px;
    color: orange;
}

.fa-expand-arrows-alt:hover {
    cursor: pointer;
}

#shikanoko {
    position: absolute;
    top: 0%;
    left: 10%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out;
    z-index: 2;
    height: auto;
    max-width: 200px;
}

header {
    text-align: center;
}

body {
    cursor: url('images/shikasenbei.png'), auto;
}

#storyContainer {
    position: relative;
}

p {
    padding: 20px;
    position: absolute;
    top: 20%;
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
    color:rgb(186, 198, 208);
    font-family: "Supermercado One", sans-serif;
    font-size: 50px;
    background-image: linear-gradient(to right, #4e7a5380, #639c8120);
}

.supermercado-one-regular {
  font-family: "Supermercado One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hidden {
    opacity: 0;
}

.showing {
    opacity: 1;
}