#myVideo {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    object-fit: cover;
}

#uiControls{
    padding: 20px;
    gap: 20px;
 
    position: fixed;
    bottom: 0%;
    right: 0%;
    display: flex;

    font-size: 36px;
    background-color: #ffffff90;
    border-radius: 50px;
    border-width: 5px;
    border-style:groove;
;
}

.fa-expand-arrows-alt {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(52, 116, 255);
}

.fa-expand-arrows-alt:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(22, 57, 132);
    cursor: pointer;
}

.fa-minimize {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(52, 116, 255);
}

.fa-minimize:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: rgb(22, 57, 132);

}

.fa-circle-pause {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(52, 116, 255);
}

.fa-circle-pause:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: rgb(22, 57, 132);

}

.fa-circle-play {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(52, 116, 255);
}

.fa-circle-play:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: rgb(22, 57, 132);

}

.fa-volume-high {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(52, 116, 255);
}

.fa-volume-high:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: rgb(22, 57, 132);
}

.fa-volume-off {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(52, 116, 255);
}

.fa-volume-off:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: rgb(22, 57, 132);
}

.fa-rotate {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(52, 116, 255);
}

.fa-rotate:hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    color: rgb(22, 57, 132);
}

.iconFont {
    font-size: 15px;
}

#imgContainer {
    display: flex;
    flex-direction: column;
}

#shikanoko {
    top: 15%;
    left: 15%;

    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: transform 0.1s ease-out;
    z-index: 2;
    height: auto;
    max-width: 200px;
}

#arrow {
    top: 10%;
    left: 20%;

    position: absolute;
    pointer-events: none;
    transform: translate(50%, -50%);
    animation: wobble 1s ease-in-out infinite;
    z-index: 2;
    height: auto;
    max-width: 75px;
}

header {
    display: block;
    margin: auto;
    text-align: center;
    color:rgb(186, 198, 208);
    background-color: #4e7a5350;
    background-size: cover;
        
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
}

html {
    cursor: url('images/shikasenbei.png') 16 16, auto;
}

body, #storyContainer, p {
    cursor: inherit;
    margin: 0;
}

#storyContainer {
    position: relative;
    height: 80vh;
}

p {

    padding: 20px;
    position: absolute;

    top: 0%;
    left: 0%;
    
    filter: drop-shadow(5px 5px 5px rgb(0, 0, 0));
    color:rgb(186, 198, 208);
    font-family: "Supermercado One", sans-serif;
    font-size: 50px;
    background-color: #4e7a5350;
}

.word {
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.2s forwards;
}

.supermercado-one-regular {
  font-family: "Supermercado One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hidden {
    opacity: 0;
}

.showing {
    opacity: 1;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes wobble {
    0% {
       transform: translate(10px, 0px);
    }

    50% {
        transform: translate(-10px, 0px);
    }

    100% {
        transform: translate(10px, 0px);
    }
}